<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: page_head('Executive', 'none')">
</head>
<body>
<div class = "container-fluid">
    <div th:replace="navigation :: menu('executives')"> </div>

    <div class="full-details">
        <table class="table table-bordered table-striped table-hover table-responsive-lg">
            <thead class="thead-dark">
            <tr>
                <th th:replace="fragments :: column_link('executives', 'id', 'id', 'none')"></th>

                <th th:replace="fragments :: column_link('executives', 'name', 'name', 'none')"></th>

                <th th:replace="fragments :: column_link('executives', 'surname', 'surname', 'none')"></th>

                <th th:replace="fragments :: column_link('executives', 'patronymic', 'patronymic', 'none')"></th>

                <th th:replace="fragments :: column_link('executives', 'date', 'date', 'none')"></th>

                <th th:replace="fragments :: column_link('executives', 'position', 'position', 'none')"></th>

                <th th:replace="fragments :: column_link('executives', 'telephone', 'telephone', 'none')"></th>

                <th>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="element : ${listExecutive}">
                <td> [[${element.id}]] </td>
                <td> [[${element.name}]] </td>
                <td> [[${element.surname}]] </td>
                <td> [[${element.patronymic}]] </td>
                <td> [[${element.date}]] </td>
                <td> [[${element.position}]] </td>
                <td> [[${element.telephone}]] </td>
                <td>
                    <a class="fa fa-user-circle fa-2x icon-dark" th:href="@{'/executives/edit/' + ${element.id}}" title="Edit this user"></a>
                    &nbsp;
                    <a class="fa fa-ban fa-2x icon-dark link-delete" th:href="@{'/executives/delete/' + ${element.id}}" th:elementId="${element.id}" title="Delete this user"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="modal_fragments :: confirm_modal"></div>

</div>

<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">

    moduleURL = "[[@{/executives}]]";

</script>

</body>
</html>