<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments :: page_head(${pageTitle}, 'none')">
<body>
<div class = "container-fluid">
    <div th:replace="navigation :: menu('goods')"> </div>

    <form th:action="@{/goods/save}" method="post" style="max-width: 700px; margin: auto; margin-top: 20px"
          th:object="${good}">
        <input type="hidden" th:field="*{id}">

        <div class="border border-secondary rounded p-3">

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Title:</label>
                <div class="col-sm-8">
                    <label>
                        <input type="text" class="form-control" th:field="*{title}" required minlength="1" maxlength="45" />
                    </label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Price:</label>
                <div class="col-sm-8">
                    <label>
                        <input type="text" class="form-control" th:field="*{price}" required minlength="1" maxlength="45" />
                    </label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Quantity:</label>
                <div class="col-sm-8">
                    <label>
                        <input type="text" class="form-control" th:field="*{quantity}" required minlength="1" maxlength="45" />
                    </label>
                </div>
            </div>


            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Orders:</label>
                <div class="col-sm-8">
                    <select class="form-control" th:field="*{provider}">
                        <th:block th:each="prov : ${providerList}">
                            <option th:value="${prov.id}">[[${prov.title}]]</option>
                        </th:block>
                    </select>
                </div>
            </div>

            <div class="text-center">
                <input type = "submit" value="Save"  class="btn m-3 text-danger" style="background-color: #378e33;">
                <input type = "button" value="Cancel"  class="btn m-3 text-danger" style="background-color: #378e33;" id="buttonCancel">
            </div>
        </div>
    </form>


    <div th:replace="modal_fragments :: modal_dialog"></div>


    <div th:replace="fragments :: footer"></div>

</div>

<script type="text/javascript">
    moduleURL = "[[@{/goods}]]";
    function checkEmailUnique(form) {
        url = "[[@{/goods/check_email}]]";
        organizationName = $("#name").val();
        organizationId = $("#id").val();
        csrfValue = $("input[name='_csrf']").val();


        params = {id: organizationId, name: organizationName, _csrf: csrfValue};

        $.post(url, params, function (response){
            if(response === "OK"){
                form.submit();
            }
            else if(response === "Duplicated"){
                showWarningModal("There is another good having the name " + organizationName);
            }
        }).fail(function () {
            showModalDialog("Error", "Could not connect to the server")
        });
        return false;
    }
</script>
<script th:src="@{/js/common_form.js}"></script>

</body>
</html>