<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: page_head('Serve', 'none')">
</head>
<body>
<div class = "container-fluid">
    <div th:replace="navigation :: menu('serves')"> </div>

    <div class="full-details">
        <table class="table table-light table-bordered table-striped table-hover table-responsive-lg">
            <thead class="thead-light">
            <tr>
                <th th:replace="fragments :: column_link('serves', 'id', 'id', 'none')"></th>

                <th th:replace="fragments :: column_link('serves', 'title', 'title', 'none')"></th>

                <th th:replace="fragments :: column_link('serves', 'price', 'price', 'none')"></th>

                <th>book

                <th>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="element : ${listServe}">
                <td> [[${element.id}]] </td>
                <td> [[${element.title}]] </td>
                <td> [[${element.price}]] </td>
                <td>
                    <th:block th:each="ord, index : ${element.books}">
                        <li>[[${index.index + 1}]]: [[${ord.date}]]</li>
                    </th:block>
                </td>
                <td>
                    <a class="text-danger" th:href="@{'/serves/edit/' + ${element.id}}" title="Edit this serve">Edit</a>
                    &nbsp;
                    <a class="text-danger" th:href="@{'/serves/delete/' + ${element.id}}" th:elementId="${element.id}" title="Delete this serve">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="modal_fragments :: confirm_modal"></div>

</div>

<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">

    moduleURL = "[[@{/serves}]]";

</script>

</body>
</html>