<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments :: page_head(${pageTitle}, 'none')">
<body>
<div class = "container-fluid">
    <div th:replace="navigation :: menu('orders')"> </div>

    <form th:action="@{/orders/save}" method="post" style="max-width: 700px; margin: auto; margin-top: 20px"
          th:object="${order}">
        <input type="hidden" th:field="*{id}">

        <div class="border border-secondary rounded p-3">

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Employee:</label>
                <div class="col-sm-8">
                    <select class="form-control" th:field="*{employee}">
                        <th:block th:each="employee : ${employeeList}">
                            <option th:value="${employee.id}">[[${employee.name}]] [[${employee.surname}]]</option>
                        </th:block>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Tour:</label>
                <div class="col-sm-8">
                    <select class="form-control" th:field="*{client}">
                        <th:block th:each="client : ${clientList}">
                            <option th:value="${client.id}">[[${client.name}]] [[${client.surname}]]</option>
                        </th:block>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Client:</label>
                <div class="col-sm-8">
                    <select class="form-control" th:field="*{tour}">
                        <th:block th:each="tour : ${tourList}">
                            <option th:value="${tour.id}">[[${tour.country}]] [[${tour.resort}]]</option>
                        </th:block>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Date:</label>
                <div class="col-sm-8">
                    <label>
                        <input type="date" class="form-control" th:field="*{date}" required minlength="2" maxlength="45" />
                    </label>
                </div>
            </div>

            <div class="text-center">
                <input type = "submit" value="Save" class="btn btn-dark m-3">
                <input type = "button" value="Back" class="btn btn-dark" id="buttonCancel">
            </div>
        </div>
    </form>


    <div th:replace="modal_fragments :: modal_dialog"></div>


    <div th:replace="fragments :: footer"></div>

</div>

<script type="text/javascript">
    moduleURL = "[[@{/orders}]]";
    function checkEmailUnique(form) {
        url = "[[@{/orders/check_email}]]";
        organizationName = $("#name").val();
        organizationId = $("#id").val();
        csrfValue = $("input[name='_csrf']").val();


        params = {id: organizationId, name: organizationName, _csrf: csrfValue};

        $.post(url, params, function (response){
            if(response === "OK"){
                form.submit();
            }
            else if(response === "Duplicated"){
                showWarningModal("There is another order having the name " + organizationName);
            }
        }).fail(function () {
            showModalDialog("Error", "Could not connect to the server")
        });
        return false;
    }


</script>
<script th:src="@{/js/common_form.js}"></script>

</body>
</html>