<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments :: page_head(${pageTitle}, 'none')">
<body>
<div class = "container-fluid">
    <div th:replace="navigation :: menu"> </div>
    <div class="text-left">
        <h2> Manage Tenant Details | [[${pageTitle}]]</h2>
    </div>
    <form th:action="@{/tenantdetails/save}" method="post" style="max-width: 700px; margin: 0 auto"
        enctype="multipart/form-data"
          th:object="${tenantDetail}" onsubmit="return checkEmailUnique(this);">
        <input type="hidden" th:field="*{id}">

        <div class="border border-secondary rounded p-3">

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Type of registration : </label>
               <div class="col-sm-8">
                   <label>
                        <input type="text" class="form-control" th:field="*{typeRegistration}" required minlength="2" maxlength="128" />
                    </label>
                </div>
             </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Tenant :</label>
                <div class="col-sm-8">
                    <select class="form-control" th:field="*{tenant}">
                        <th:block th:each="tenant : ${listTenants}">
                            <option th:value="${tenant.id}">[[${tenant.name}]] [[${tenant.surname}]]</option>
                        </th:block>
                    </select>
                </div>
            </div>


            <div>
                <input type = "submit" value="Save" class="btn btn-primary m-3">
                <input type = "button" value="Cancel" class="btn btn-secondary" id="buttonCancel">
            </div>
        </div>
    </form>


    <div th:replace="modal_fragments :: modal_dialog"></div>


    <div th:replace="fragments :: footer"></div>

</div>

<script type="text/javascript">
    moduleURL = "[[@{/tenantdetails}]]";
    function checkEmailUnique(form) {
        url = "[[@{/tenantdetails/check_email}]]";
        tenantName = $("#tenant").val();
        tenantId = $("#id").val();
        csrfValue = $("input[name='_csrf']").val();


        params = {id: organizationId, tenant: organizationName, _csrf: csrfValue};

        $.post(url, params, function (response){
            if(response === "OK"){
                form.submit();
            }
            else if(response === "Duplicated"){
                showWarningModal("There is another tenant details having the name " + organizationName);
            }
        }).fail(function () {
            showModalDialog("Error", "Could not connect to the server")
        });
        return false;
    }


</script>
<script th:src="@{/js/common_form.js}"></script>

</body>
</html>