<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<body>

<div th:fragment="menu(table)">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #378e33;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="topNavbar">
            <ul class="nav nav-pills nav-justified">
                <li class="nav-item ">
                    <a class="nav-link text-danger h4" th:href="@{/books}">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger h4" th:href="@{/clients}">Clients</a>
                </li>
                <li class="nav-item text-danger">
                    <a class="nav-link text-danger h4" th:href="@{/goods}">Goods</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger h4" th:href="@{/providers}">Providers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger h4" th:href="@{/serves}">Serves</a>
                </li>

                <li>
                    <div th:replace="fragments :: search_form(${table})"></div>
                </li>


                <li class="nav-item">
                    <a class="nav-link text-danger h4" th:href="@{'/' + ${table} + '/new'}">Add</a>
                </li>

            </ul>
        </div>
    </nav>
</div>

</body>
</html>