<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<body>

<div th:fragment="menu(table)">
    <nav class="navbar navbar-expand-lg bg-light navbar-light justify-content-between" >
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="topNavbar">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link text-dark"
                       th:href="@{/dispatches}">Dispatch</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark"
                       th:href="@{/editions}">Editions</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark"
                       th:href="@{/operations}">Operations</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark"
                       th:href="@{/receivings}">Receivings</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark"
                       th:href="@{/subscribers}">Subscribers</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark"
                       th:href="@{/subscriptions}">Subscriptions</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-success"
                       th:href="@{'/' + ${table} + '/new'}">Add</a>
                </li>

                 <div th:replace="fragments :: search_form(${table},  'none')"></div>

            </ul>
        </div>
    </nav>
</div>

</body>
</html>