<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: page_head('Land', 'none')">
</head>
<body>
<div class = "container-fluid">
    <div th:replace="navigation :: menu('lands')"> </div>

    <div class="full-details">
        <table class="table table-bordered table-striped table-hover table-responsive-lg">
            <thead class="thead-dark">
            <tr>
                <th th:replace="fragments :: column_link('lands', 'id', 'id', 'none')"></th>

                <th th:replace="fragments :: column_link('lands', 'address', 'address', 'none')"></th>

                <th th:replace="fragments :: column_link('lands', 'size', 'size', 'none')"></th>

                <th th:replace="fragments :: column_link('lands', 'affiliation', 'affiliation', 'none')"></th>

                <th th:replace="fragments :: column_link('lands', 'dateRelease', 'date release', 'none')"></th>

                <th th:replace="fragments :: column_link('lands', 'notes', 'notes', 'none')"></th>

                <th>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="element : ${listLand}">
                <td> [[${element.id}]] </td>
                <td> [[${element.address}]] </td>
                <td> [[${element.size}]] </td>
                <td> [[${element.affiliation}]] </td>
                <td> [[${element.dateRelease}]] </td>
                <td> [[${element.notes}]] </td>

                <td>
                    <a class="fa fa-user-circle fa-2x icon-dark" th:href="@{'/lands/edit/' + ${element.id}}" title="Edit this user"></a>
                    &nbsp;
                    <a class="fa fa-ban fa-2x icon-dark link-delete" th:href="@{'/lands/delete/' + ${element.id}}" th:elementId="${element.id}" title="Delete this user"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="modal_fragments :: confirm_modal"></div>

</div>

<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">

    moduleURL = "[[@{/lands}]]";

</script>

</body>
</html>